<div class="container-fluid">
    <nav class="navbar navbar-default">
        <p class="navbar-brand navbar-greet">
            Hello,
            {{model.user.username}}
        </p>
        <p class="pull-right navbar-brand navbar-logout"><a href="#login">Logout</a></p>
    </nav>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="hidden-xs col-sm-12 col-md-12 profile-top-fill"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-profile">
                    <div class="card">
                        <div class="card-block card-block-top">
                            <p class="card-text card-text-top"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span class="card-title">Personal Setting</span>
                            </p>
                        </div>
                        <div class="card-block">
                            <p class="card-text card-text-bot">Complete Your Personal Information Including Name,
                                Contact Info, Address, Email, Reminding Period and Private Setting</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-profile">
                    <div class="card">
                        <div class="card-block card-block-top">
                            <p class="card-text card-text-top"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <span class="card-title">Contact Info</span>
                            </p>
                        </div>
                        <div class="card-block">
                            <p class="card-text card-text-bot">Add Reliable Contact Info For Your Connection</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-profile">
                    <div class="card">
                        <div class="card-block card-block-top">
                            <p class="card-text card-text-top"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <span class="card-title">Last Will</span>
                            </p>

                        </div>
                        <div class="card-block">
                            <p class="card-text card-text-bot">Some quick example text to build on the card title and
                                make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>