body {
    background-color: #617D8B;
}

.col {
    height:340px;
}
.s12 {
    margin-bottom: 5px;
}
.card-image {
    height:280px;
}
.card-content {
    height: 61px;
}
#card-top {
    height:165px;
}
#card-top a div.card-image {
    height:130px;
}
#card-top a div.card-content {
    height:30px;
}
#card-top div.card-content {
    padding: 6px;
}
#card-top2 {
    height:165px;
}

#card-top2 a div.card-image {
    height:130px;
}
#card-top2 div.card-content {
    padding: 6px;
}

.subrow {
    height:168px;
}

.card-image:hover {
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
.my-face-img {
    background:url('../imgs/face.jpg') center / cover;
}

.project-img {
    background: url('../imgs/ic_filter_frames_white_48dp_2x.png') no-repeat center center;
    background-color: #FD6D6F;
}
.video-img {
    background: url('../imgs/ic_camera_alt_white_48dp_2x.png') no-repeat center center;
    background-color: #5BE2D2;
}
.asm-img {
    background: url('../imgs/ic_edit_white_48dp_2x.png') no-repeat center center;
    background-color: #1BBDDD;
}
.comment-img {
    background: url('../imgs/ic_tag_faces_white_48dp_2x.png') no-repeat center center;
    background-color: #EEDD4B;
}
.git-img {
    background: url('../imgs/ic_filter_drama_white_48dp_2x.png') no-repeat center center;
    background-color:  #212121;
}
