body {
    background-color: #617D8B;
}
.mdl-grid {
    height:340px;

}
#mdl-card__title__half {
    height: 120px;
}

#mdl-card__title__half2 {
    height:120px;
}

#mdl-card__text__half {
    height: 20px;
    background-color: white;
}

#mdl-card__text__half2 {
    height:20px;
    background-color: white;
}
.col-transparent {
    background-color: transparent;
}
.row1 {
    height: 170px;
    padding-bottom: 10px;

}

.row2 {
    height: 170px;
}
.blog-main {
    max-width: 950px;
}
.mdl-card__title {
    height:300px;
}
.my-face-img {
    background:url('/imgs/face.jpg') center / cover;
}

.project-img {
    background: url('/imgs/ic_filter_frames_white_48dp_2x.png') no-repeat center center;
    background-color: #FD6D6F;
}
.video-img {
    background: url('/imgs/ic_camera_alt_white_48dp_2x.png') no-repeat center center;
    background-color: #5BE2D2;
}
.asm-img {
    background: url('/imgs/ic_edit_white_48dp_2x.png') no-repeat center center;
    background-color: #1BBDDD;
}
.comment-img {
    background: url('/imgs/ic_tag_faces_white_48dp_2x.png') no-repeat center center;
    background-color: #EEDD4B;
}
.git-img {
    background: url('/imgs/ic_filter_drama_white_48dp_2x.png') no-repeat center center;
    background-color:  #212121;
}
