<nav>
    <div class="nav-wrapper teal lighten-2">
            <a href="#/user/{{model.uid}}/website" class="brand-logo left brand-icon ">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a href="" class="brand-logo left brand-title">
                Pages
            </a>

        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new">
            <i class="material-icons right">library_add</i>
        </a>

    </div>
</nav>
<main>
    <div class="container">
        <ul class="collection with-header">
            <li ng-repeat="page in model.pages" class="collection-item">
                <div>
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">{{page.name}}</a>
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}" class="secondary-content">
                        <i class="material-icons">settings</i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</main>

<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a href="#/profile/{{model.uid}}">
                    <i class="material-icons right">perm_identity</i>
                </a>
            </div>
        </div>
    </div>
</footer>