<nav>
    <div class="nav-wrapper teal lighten-2">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
           class="brand-logo left brand-icon ">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a href="" class="brand-logo left brand-title">
            Edit Widget
        </a>
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
           ng-click="model.updateWidget()">
            <i class="material-icons right">done</i>
        </a>
    </div>
</nav>


<div ng-switch="model.widget.widgetType">
    <main ng-switch-when="HEADING">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="model.widget.name" id="first_name" type="text" class="validate">
                        <label class="active" for="first_name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="model.widget.text" id="title" type="text" class="validate">
                        <label class="active" for="title">Text</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <!--<select id="header-select">-->
                        <!--<option value="" disabled selected>Choose Size</option>-->
                        <!--<option value="1">1</option>-->
                        <!--<option value="2">2</option>-->
                        <!--<option value="3">3</option>-->
                        <!--<option value="4">4</option>-->
                        <!--<option value="5">5</option>-->
                        <!--<option value="6">6</option>-->
                        <!--</select>-->
                        <input ng-model="model.widget.size" type="text">
                        <label class="active">Size</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a ng-click="model.deleteWidget()"
                           href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                           class="waves-effect waves-light btn red lighten-1">Delete</a>
                    </div>
                </div>
            </form>
        </div>
    </main>


    <main ng-switch-when="IMAGE">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.widget.name" id="name" type="text" class="validate">
                    <label class="active" for="first_name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.widget.text" id="text1" type="text" class="validate">
                    <label class="active" for="text">Text</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.widget.url" id="URL1" type="text" class="validate">
                    <label class="active" for="URL">URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.widget.width" type="text">
                    <label class="active">width(%)</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <form action="/api/upload" method="post" enctype="multipart/form-data">
                        <input name="myFile" type="file" class="form-control"/>
                        <input name="width" value="{{model.widget.width}}" style="display: none"/>
                        <input name="websiteId" value="{{model.wid}}" style="display: none"/>
                        <input name="pageId" value="{{model.pid}}" style="display: none"/>
                        <input name="userId" value="{{model.uid}}" style="display: none"/>
                        <input name="widgetId" value="{{model.wgid}}" style="display: none"/>
                        <input type="submit" value="upload image" class="waves-effect waves-light btn">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a class="waves-effect waves-light btn"
                       href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}/flickr">
                        search image
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <a ng-click="model.deleteWidget()"
                       href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                       class="waves-effect waves-light btn red lighten-1">Delete</a>
                </div>
            </div>
        </div>
    </main>


    <main ng-switch-when="YOUTUBE">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.widget.name" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.widget.text" id="text" type="text" class="validate">
                    <label class="active" for="text">Text</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="model.widget.url" id="URL" type="text" class="validate">
                    <label class="active" for="URL">URL</label>
                </div>
            </div>
            <div class="row">
                <input ng-model="model.widget.width" type="text">
                <label class="active">width(%)</label>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <a ng-click="model.deleteWidget()"
                       href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                       class="waves-effect waves-light btn red lighten-1">Delete</a>
                </div>
            </div>
        </div>
    </main>


    <main ng-switch-when="HTML">
        <div text-angular ng-model="model.widget.text" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"></div>
        <!--<div ng-bind-html="model.widget.html"></div>-->
        <div class="input-field col s12">
            <a ng-click="model.deleteWidget()"
               href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
               class="waves-effect waves-light btn red lighten-1">Delete</a>
        </div>
    </main>

    <main ng-switch-when="TEXT">
            <div>
                Text
                <input ng-model="model.widget.text" class="form-control"/>
                Rows
                <input ng-model="model.widget.rows" class="form-control" type="number"/>
                Placeholder
                <input ng-model="model.widget.placeholder" class="form-control"/>

                <input ng-model="model.widget.formatted" type="checkbox" id="myCheckbox" class="filled-in" />
                <label for="myCheckbox">Formatted</label>
            </div>
            <a ng-click="model.deleteWidget()"
               href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
               class="waves-effect waves-light btn red lighten-1">Delete</a>
    </main>

</div>


<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a href="#/profile/{{model.uid}}">
                    <i class="material-icons right">perm_identity</i>
                </a>
            </div>
        </div>
    </div>

</footer>