<div class="container">
    <div class="row">
        <p class="login-title">Welcome Back</p>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="col-xs-6 .col-sm-6 col-md-6 login-col">
            <a href=""><button type="submit" class="btn btn-primary login-btn">Login</button></a>
        </div>
        <div class="col-xs-6 .col-sm-6 col-md-6 login-col">
            <a href="#/register"><button type="submit" class="btn btn-danger login-btn">Register</button></a>
        </div>

    </div>
</div>